@media screen and (max-width: 992px) {
    /*------padding--------*/
    .padding-style1 {
        padding: 70px 0;
    }
    /*------header--------*/
    #menu {
        display: none;
    }
    .slicknav_menu {
        display: inline-block;
        position: fixed;
        right: 0px;
        z-index: 10;
        background: transparent;
    }
    .slicknav_btn {

        background: #fff;
    }
    .slicknav_nav a {
        background: #063241;
        height: 47px;
        color: #fff;
        width: 200px;
        padding-top: 12px;
        text-align: center;
        line-height: 20px;
    }
    .slicknav_nav li {
        border-top: 1px solid rgba(0, 0, 0, 0);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .slicknav_nav a:hover {
        border-radius: 0px;
        background: #46c3aa;
        color: #fff;
    }
    .slicknav_nav,
    .slicknav_nav ul {
        list-style: none;
        overflow: hidden;
        margin-top: 20px;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        margin: 0px;
    }
    .slicknav_menu .slicknav_icon-bar {
        background-color: #000;
    }

    /*--------------contact----------------*/
    .contact-detail {
        padding: 16px 10px;
    }
    header {
        height: 70px;
    }
    .logo img {
        width: 80%;
    }
    .top-search {
        margin-top: 10px;
    }

    .category .col-md-9,
    .category .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    /*------------------section-home-welcome-----------------*/    
    .section-home-welcome .welcome-text {
        padding: 224px 0px 209px 40px;
    }
    .section-home-welcome .welcome-text h1 {
        font-size: 40px;
    }
    .section-home-welcome .welcome-text h2 {
        font-size: 22px;
    }
    /*------------------section-home-choose-----------------*/   
    .section-home-choose .sec-title {
        font-size: 40px;
    }
    .section-home-choose .sec-content li {
        font-size: 18px;
    }
    /*------------------section-home-choose-----------------*/ 
    .section-home-service {
        padding-top: 20px;
    }
    .section-home-service .row div {
        padding: 16px;
    }
    /*------------------section-home-how-----------------*/ 
    .section-home-how {
        padding-top: 90px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 767px) {

    header {
        height: 60px;
    }#f5a22e93
    .logo img {
        width: 40%;
    }
    .contact-detail {
        padding: 16px 10px;
    }
    .quick-link {
        padding: 16px 10px;
    }
    .contact-form-area {
        padding: 16px 10px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
        background: #0b2854;
        text-align: left;
		padding:15px 15px;
        border-bottom: 1px solid #0a2145;
    }
    .navbar-dark .navbar-nav .nav-link:nth-last-of-type {
        border-bottom: 1px solid #ffffff;
    }
    .welcome-area.image-bg {
        height: 300px;
    }
	.nav_active {
		border-bottom: 0;
	}	
    .navbar-nav {

        width: 100%;
    }
    #logo_container_small{
        display: block;
    }

    #logo_container{
        display: none;
    }

    #quick-contact{
        display: none;
    }

    .auth-menu{
        display: block;
    }
    .sec-title h2{
        font-size: 20px !important;
    }

    .send-money .welcome-text .start-btn, .send-money .welcome-text .iphone-btn {
        padding :10px;
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    
    /*------------------section-home-welcome-----------------*/    
    .section-home-welcome .welcome-text {
        padding: 170px 0px 150px 30px;
    }
    .section-home-welcome .welcome-text h1 {
        font-size: 30px;
    }
    .section-home-welcome .welcome-text h2 {
        font-size: 18px;
    }
    /*------------------section-home-feature-----------------*/ 
    .section-home-feature .feature-icon img {
        width: 120px !important;
    }
    .section-home-feature {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*------------------section-home-choose-----------------*/   
    .section-home-choose .sec-title {
        font-size: 30px;
    }
    .section-home-choose .sec-content li {
        font-size: 16px;
    }
    /*------------------section-home-how-----------------*/ 
    .section-home-how .round-white-top {
        display: none;
    }
    .section-home-how .color-bg {
        display: none;
    }
    .section-home-how .sec-title {
        background: #F5A22ED3;
        border-radius: 10%;
    }

}

@media screen and (max-width: 464px) {
    header {
        height: 56px;
    }
    .top-search {
        width: 50%;
        float: right;
        margin-top: -30px;
    }

    #logo_container_small{
        display: block;
    }

    #logo_container{
        display: none;
    }

    #quick-contact{
        display: none;
    }
    .auth-menu{
        display: block;
    }

    .sec-title h2{
        font-size: 20px !important;
    }

    .send-money .welcome-text .start-btn, .send-money .welcome-text .iphone-btn {
        padding :10px;
        font-size: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    /*------------------section-home-welcome-----------------*/    
    .section-home-welcome .welcome-text {
        padding: 135px 0px 120px 20px;
    }
    .section-home-welcome .welcome-text h1 {
        font-size: 24px;
    }
    .section-home-welcome .welcome-text h2 {
        font-size: 14px;
    }
    /*------------------section-home-feature-----------------*/ 
    .section-home-feature .feature-icon img {
        width: 90px !important;
    }
    .section-home-feature {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*------------------section-home-choose-----------------*/   
    .section-home-choose .sec-title {
        font-size: 28px;
    }
    .section-home-choose .sec-content li {
        font-size: 14px;
    }
    /*------------------section-home-choose-----------------*/ 
    .section-home-service {
        padding-top: 20px;
    }
    .section-home-service .row div {
        padding: 10px;
    }
}